@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    background: linear-gradient(
        to bottom,
        transparent 0%,
        black 100vmax
    ),
        fixed 0 0 / 20px 20px radial-gradient(#313131 1px, transparent 0),
        fixed 10px 10px / 20px 20px radial-gradient(#313131 1px, transparent 0),
        black;
    color: #e7e7e7;
    font-family: Poppins, sans-serif;
}

main{
    margin-top: 6vmax;
    text-align: center;
}